n8n-clabx-auto-ready.json
{
  "name": "Crypto Trading Full — авто-трейд clabx.ru",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — кнопка Запустить",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 400],
      "webhookId": "auto-start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "source", "name": "source", "value": "clabx.ru/auto", "type": "string" },
            { "id": "userId", "name": "userId", "value": "={{ $json.body?.userId || $json.query?.userId || '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-context",
      "name": "Контекст запроса",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [280, 400]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr",
        "options": { "response": { "response": { "fullResponse": false, "neverError": false } } }
      },
      "id": "binance-ticker24",
      "name": "Binance — топ объём",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst raw = items[0]?.json;\nlet usdt = ['BTCUSDT','ETHUSDT','BNBUSDT','SOLUSDT','XRPUSDT','DOGEUSDT','ADAUSDT','AVAXUSDT','LINKUSDT','MATICUSDT'];\nif (Array.isArray(raw)) {\n  usdt = raw\n    .filter(t => t.symbol && t.symbol.endsWith('USDT'))\n    .sort((a,b) => (parseFloat(b.quoteVolume) || 0) - (parseFloat(a.quoteVolume) || 0))\n    .slice(0, 10)\n    .map(t => t.symbol);\n  if (!usdt.length) usdt = ['BTCUSDT','ETHUSDT','BNBUSDT','SOLUSDT','XRPUSDT','DOGEUSDT','ADAUSDT','AVAXUSDT','LINKUSDT','MATICUSDT'];\n}\nreturn usdt.map(symbol => ({ json: { symbol } }));"
      },
      "id": "top10-symbols",
      "name": "Топ 10 монет",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "id": "loop-symbols",
      "name": "Цикл по монетам",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: { symbol: item.symbol || 'BTCUSDT' } }];"
      },
      "id": "current-symbol",
      "name": "Текущий символ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "symbol", "value": "={{ $json.symbol }}" },
            { "name": "interval", "value": "1m" },
            { "name": "limit", "value": "200" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false, "outputPropertyName": "klines1m" } } }
      },
      "id": "candles-1m",
      "name": "Свечи 1m",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 180]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "symbol", "value": "={{ $json.symbol }}" },
            { "name": "interval", "value": "5m" },
            { "name": "limit", "value": "200" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false, "outputPropertyName": "klines5m" } } }
      },
      "id": "candles-5m",
      "name": "Свечи 5m",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 320]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "symbol", "value": "={{ $json.symbol }}" },
            { "name": "interval", "value": "1h" },
            { "name": "limit", "value": "200" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false, "outputPropertyName": "klines1h" } } }
      },
      "id": "candles-1h",
      "name": "Свечи 1h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 460]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/depth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "symbol", "value": "={{ $json.symbol }}" },
            { "name": "limit", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false, "outputPropertyName": "orderbook" } } }
      },
      "id": "orderbook",
      "name": "Стакан",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 600]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/price",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "symbol", "value": "={{ $json.symbol }}" }] },
        "options": { "response": { "response": { "fullResponse": false, "outputPropertyName": "price" } } }
      },
      "id": "price",
      "name": "Цена",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 740]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst symbol = item.symbol || 'BTCUSDT';\nconst parse = (arr) => (Array.isArray(arr) ? arr : []).map(c => (Array.isArray(c) ? { open: +c[1], high: +c[2], low: +c[3], close: +c[4], volume: +c[5] } : {}));\nconst analyze = (candles) => {\n  if (!candles || candles.length < 20) return { direction: 'NEUTRAL', score: 0, rsi: 50 };\n  const c = candles[candles.length - 1];\n  let bull = 0, bear = 0;\n  const avgV = candles.slice(-20).reduce((s, x) => s + (x.volume || 0), 0) / 20;\n  if (c.volume > avgV * 1.5) c.close > c.open ? bull += 2 : bear += 2;\n  const body = Math.abs(c.close - c.open), range = (c.high - c.low) || 1;\n  if (body / range > 0.7) c.close > c.open ? bull += 3 : bear += 3;\n  const lower = Math.min(c.open, c.close) - c.low, upper = c.high - Math.max(c.open, c.close);\n  if (lower > body * 2) bull += 2; if (upper > body * 2) bear += 2;\n  let gains = [], losses = [];\n  for (let i = Math.max(1, candles.length - 14); i < candles.length; i++) {\n    const d = candles[i].close - candles[i-1].close;\n    d > 0 ? gains.push(d) : losses.push(-d);\n  }\n  const avgG = gains.length ? gains.reduce((a,b)=>a+b,0)/14 : 0;\n  const avgL = losses.length ? losses.reduce((a,b)=>a+b,0)/14 : 0.001;\n  const rsi = 100 - (100 / (1 + avgG/avgL));\n  if (rsi < 30) bull += 2; else if (rsi > 70) bear += 2;\n  const ema9 = candles.slice(-9).reduce((s,x)=>s+x.close,0)/9;\n  const ema21 = candles.slice(-21).reduce((s,x)=>s+x.close,0)/21;\n  if (ema9 > ema21) bull += 2; else bear += 2;\n  let dir = 'NEUTRAL';\n  if (bull > bear * 1.3 && (bull+bear) > 4) dir = 'LONG';\n  else if (bear > bull * 1.3 && (bull+bear) > 4) dir = 'SHORT';\n  return { direction: dir, score: Math.max(bull, bear), rsi: Math.round(rsi) };\n};\nconst analyzeOB = (ob) => {\n  if (!ob?.bids?.length || !ob?.asks?.length) return { direction: 'NEUTRAL', score: 0, spread: 0 };\n  const bid1 = parseFloat(ob.bids[0][1]), ask1 = parseFloat(ob.asks[0][1]);\n  const dom = (bid1 - ask1) / (bid1 + ask1 || 1);\n  const bestBid = parseFloat(ob.bids[0][0]), bestAsk = parseFloat(ob.asks[0][0]);\n  const spread = ((bestAsk - bestBid) / ((bestAsk + bestBid) / 2) * 100).toFixed(4);\n  const score = dom > 0.3 ? 3 : dom > 0.1 ? 1 : dom < -0.3 ? -3 : dom < -0.1 ? -1 : 0;\n  const direction = score > 0 ? 'LONG' : score < 0 ? 'SHORT' : 'NEUTRAL';\n  return { direction, score: Math.abs(score), spread };\n};\nconst c1m = parse(item.klines1m), c5m = parse(item.klines5m), c1h = parse(item.klines1h);\nconst ob = item.orderbook || {};\nconst price = item.price && (typeof item.price === 'object' ? parseFloat(item.price.price) : parseFloat(item.price));\nconst a1m = analyze(c1m), a5m = analyze(c5m), a1h = analyze(c1h), aob = analyzeOB(ob);\nconst dirs = [a1m.direction, a5m.direction, a1h.direction, aob.direction];\nconst longs = dirs.filter(d => d === 'LONG').length, shorts = dirs.filter(d => d === 'SHORT').length;\nlet finalDir = 'WAIT', conf = 0;\nif (longs >= 2) { finalDir = 'LONG'; conf = Math.min(0.85, 0.5 + longs * 0.12); }\nelse if (shorts >= 2) { finalDir = 'SHORT'; conf = Math.min(0.85, 0.5 + shorts * 0.12); }\nconst shouldTrade = finalDir !== 'WAIT' && conf >= 0.65;\nreturn [{ json: {\n  symbol,\n  currentPrice: price,\n  analysis: { '1m': a1m, '5m': a5m, '1h': a1h, orderbook: aob },\n  final: { direction: finalDir, confidence: Math.round(conf * 100) / 100 },\n  riskManagement: { shouldTrade, action: shouldTrade ? `Открыть ${finalDir}` : 'Подождать' },\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "analyze-tech",
      "name": "Анализ ТФ + стакан",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "crypto bitcoin ethereum" },
            { "name": "language", "value": "en" },
            { "name": "sortBy", "value": "publishedAt" },
            { "name": "pageSize", "value": "5" },
            { "name": "apiKey", "value": "ВСТАВЬТЕ_NEWSAPI_KEY" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false, "outputPropertyName": "news" } } }
      },
      "id": "news-api",
      "name": "News API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 200]
    },
    {
      "parameters": {
        "jsCode": "const aggregate = $('Агрегат + топ сигнал').first().json;\nconst newsResponse = $input.first().json;\nreturn [{ json: { ...aggregate, news: newsResponse } }];"
      },
      "id": "merge-agg-news",
      "name": "Объединить агрегат и новости",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst analyses = items.filter(i => i.json?.symbol).map(i => i.json);\nconst signals = analyses.filter(a => a.riskManagement?.shouldTrade);\nconst top = signals.length ? signals.sort((a,b) => (b.final?.confidence || 0) - (a.final?.confidence || 0))[0] : null;\nconst summary = analyses.map(a => `${a.symbol}: ${a.final?.direction} (${((a.final?.confidence || 0)*100).toFixed(0)}%)`).join('; ');\nreturn [{ json: { analyses, signals, topSignal: top, summary, source: 'clabx.ru/auto' } }];"
      },
      "id": "aggregate",
      "name": "Агрегат + топ сигнал",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "ВСТАВЬТЕ_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Ты аналитик. По данным технического анализа и новостям дай одну рекомендацию: OPEN_LONG / OPEN_SHORT / WAIT. Только один ответ в одну строку.\\n\\nАнализы: \" + ($json.summary || '') + \"\\nТоп сигнал: \" + ($json.topSignal ? $json.topSignal.symbol + ' ' + $json.topSignal.final?.direction + ' ' + (($json.topSignal.final?.confidence || 0)*100) + '%' : 'нет') + \"\\nНовости: \" + (($json.news && $json.news.articles) ? $json.news.articles.slice(0,5).map(a => a.title).join(' | ') : 'нет') }\n  ]\n}"
      },
      "id": "anthropic-ai",
      "name": "AI оценка (Anthropic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst analyses = $('Агрегат + топ сигнал').first().json;\nconst context = $('Контекст запроса').first().json;\nlet aiDecision = 'WAIT';\ntry {\n  const content = item.content?.[0]?.text || item.content || '';\n  if (typeof content === 'string') {\n    if (/OPEN_LONG|LONG/i.test(content)) aiDecision = 'OPEN_LONG';\n    else if (/OPEN_SHORT|SHORT/i.test(content)) aiDecision = 'OPEN_SHORT';\n  }\n} catch (e) {}\nconst top = analyses?.topSignal || {};\nconst payload = {\n  source: 'clabx.ru/auto',\n  n8nHost: 'http://188.127.230.83',\n  siteHost: 'https://clabx.ru',\n  userId: context?.userId ?? null,\n  aiDecision,\n  topSignal: top.symbol ? {\n    symbol: top.symbol,\n    direction: top.final?.direction,\n    confidence: top.final?.confidence,\n    currentPrice: top.currentPrice,\n    action: top.riskManagement?.action\n  } : null,\n  allSignals: analyses?.signals?.map(s => ({ symbol: s.symbol, direction: s.final?.direction, confidence: s.final?.confidence })) || [],\n  timestamp: new Date().toISOString()\n};\nreturn [{ json: payload }];"
      },
      "id": "format-for-site",
      "name": "Формат для сайта",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://clabx.ru/api/market/trading-signal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-Key", "value": "a8f3k2m9xQpL1nR7vY4wZ0cB6hJ5tU" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "send-to-site",
      "name": "Отправить на сайт (открытие BitGet)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/botВСТАВЬТЕ_TELEGRAM_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"@clabx_trading\",\n  \"text\": \"Авто-трейд clabx.ru\\\\nИтог: {{ $json.aiDecision }}\\\\nТоп: {{ $json.topSignal?.symbol || '-' }} {{ $json.topSignal?.direction || '-' }} {{ $json.topSignal?.confidence ? $json.topSignal.confidence*100 + '%' : '' }}\\\\nСигналов: {{ $json.allSignals?.length || 0 }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "telegram-notify",
      "name": "Telegram уведомление",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Ответ на запрос",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 400]
    }
  ],
  "connections": {
    "Webhook — кнопка Запустить": { "main": [[{ "node": "Контекст запроса", "type": "main", "index": 0 }]] },
    "Контекст запроса": { "main": [[{ "node": "Binance — топ объём", "type": "main", "index": 0 }]] },
    "Binance — топ объём": { "main": [[{ "node": "Топ 10 монет", "type": "main", "index": 0 }]] },
    "Топ 10 монет": { "main": [[{ "node": "Цикл по монетам", "type": "main", "index": 0 }]] },
    "Цикл по монетам": {
      "main": [
        [{ "node": "Текущий символ", "type": "main", "index": 0 }],
        [{ "node": "Агрегат + топ сигнал", "type": "main", "index": 0 }]
      ]
    },
    "Текущий символ": { "main": [[{ "node": "Свечи 1m", "type": "main", "index": 0 }]] },
    "Свечи 1m": { "main": [[{ "node": "Свечи 5m", "type": "main", "index": 0 }]] },
    "Свечи 5m": { "main": [[{ "node": "Свечи 1h", "type": "main", "index": 0 }]] },
    "Свечи 1h": { "main": [[{ "node": "Стакан", "type": "main", "index": 0 }]] },
    "Стакан": { "main": [[{ "node": "Цена", "type": "main", "index": 0 }]] },
    "Цена": { "main": [[{ "node": "Анализ ТФ + стакан", "type": "main", "index": 0 }]] },
    "Анализ ТФ + стакан": { "main": [[{ "node": "Цикл по монетам", "type": "main", "index": 0 }]] },
    "Агрегат + топ сигнал": { "main": [[{ "node": "News API", "type": "main", "index": 0 }]] },
    "News API": { "main": [[{ "node": "Объединить агрегат и новости", "type": "main", "index": 0 }]] },
    "Объединить агрегат и новости": { "main": [[{ "node": "AI оценка (Anthropic)", "type": "main", "index": 0 }]] },
    "AI оценка (Anthropic)": { "main": [[{ "node": "Формат для сайта", "type": "main", "index": 0 }]] },
    "Формат для сайта": {
      "main": [[
        { "node": "Отправить на сайт (открытие BitGet)", "type": "main", "index": 0 },
        { "node": "Telegram уведомление", "type": "main", "index": 0 },
        { "node": "Ответ на запрос", "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false }
}
