scenarN8N/eth-analysis-telegram-bot.json
{
  "name": "BotNot: ETH анализ 1m/5m/1h → сигнал в Telegram",
  "nodes": [
    {
      "parameters": {
        "content": "## Конфигурация (уже вшита)\n\n• **Backend API**: http://localhost:3000 (замените на свой URL)\n• **Telegram Bot**: токен в узле «Config»\n• **NewsApi**: ключ в узле «Config»\n• Binance / Anthropic — настраиваются в .env бэкенда.",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "id": "sticky-config",
      "name": "Инструкция",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-640, -120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "backend_url",
              "name": "backendUrl",
              "value": "http://localhost:3000",
              "type": "string"
            },
            {
              "id": "tg_token",
              "name": "telegramBotToken",
              "value": "8558861792:AAECPXLWeRUlgeQcQzo3fLrvkzAbdNyF0dg",
              "type": "string"
            },
            {
              "id": "news_key",
              "name": "newsApiKey",
              "value": "adba7eb9ba2a48ec96afcc63282d2dc0",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "config-node",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-420, 120],
      "webhookId": ""
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Сообщение в Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-640, 320],
      "credentials": {
        "telegramApi": {
          "name": "Telegram Bot BotNot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-text",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-text",
      "name": "Есть текст?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-420, 320]
    },
    {
      "parameters": {
        "jsCode": "const text = ($input.first().json.message?.text || '').trim().toUpperCase();\nconst match = text.match(/\\/ANALYZE\\s+(\\w+)/i) || [null, text];\nconst symbolRaw = (match[1] || text).toUpperCase();\nconst known = ['ETH', 'BTC', 'SOL', 'BNB', 'XRP', 'DOGE', 'AVAX', 'MATIC', 'LINK', 'DOT', 'ADA', 'APT', 'ARB', 'OP', 'SUI', 'SEI', 'TIA', 'INJ', 'PEPE', 'WIF'];\nconst symbol = known.includes(symbolRaw) ? symbolRaw : (symbolRaw.length <= 6 ? symbolRaw : 'ETH');\nreturn [{ json: { symbol: symbol + '-USDT', symbolRaw, chatId: $input.first().json.message?.chat?.id } }];"
      },
      "id": "extract-symbol",
      "name": "Извлечь символ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.backendUrl }}/api/market/analyze/{{ $json.symbol }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeframe\": \"1m\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-1m",
      "name": "Анализ 1m",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 180],
      "notesInFlow": true,
      "notes": "Бэкенд использует BINANCE_API_KEY, ANTHROPIC_API_KEY из .env"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.backendUrl }}/api/market/analyze/{{ $json.symbol }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeframe\": \"5m\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-5m",
      "name": "Анализ 5m",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.backendUrl }}/api/market/analyze/{{ $json.symbol }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeframe\": \"1h\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-1h",
      "name": "Анализ 1h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 460]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-analyses",
      "name": "Объединить 1m/5m/1h",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [280, 320]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Config').first().json;\nconst chatId = $('Извлечь символ').first().json.chatId;\nconst symbol = $('Извлечь символ').first().json.symbol;\n\nconst tfOrder = ['1m', '5m', '1h'];\nconst byTf = {};\nfor (const item of items) {\n  const data = item.json;\n  const sig = data.signal || data;\n  const tf = (sig.timeframe || '').toLowerCase() || '?';\n  byTf[tf] = sig;\n}\nconst parts = [];\nlet bestDir = null;\nlet bestConf = 0;\nlet bestRr = 0;\nlet bestEntry = 0;\nlet bestSl = 0;\nlet bestTp = [];\n\nfor (const tf of tfOrder) {\n  const sig = byTf[tf] || byTf['?'] || {};\n  const dir = sig.direction || '—';\n  const conf = (sig.confidence ?? 0) * 100;\n  const rr = sig.risk_reward ?? 0;\n  const entry = sig.entry_price ?? sig.entryPrice ?? 0;\n  const sl = sig.stop_loss ?? sig.stopLoss ?? 0;\n  const tp = sig.take_profit ?? sig.takeProfit ?? [];\n  if (conf > bestConf) {\n    bestConf = conf;\n    bestDir = dir;\n    bestRr = rr;\n    bestEntry = entry;\n    bestSl = sl;\n    bestTp = Array.isArray(tp) ? tp : [tp];\n  }\n  parts.push(`📊 ${tf}: ${dir} | уверенность ${conf.toFixed(0)}% | R:R ${rr.toFixed(2)}`);\n}\n\nconst header = `🔍 Анализ ${symbol} (1m, 5m, 1h)\\n\\n`;\nconst body = parts.join('\\n');\nconst rec = bestDir && bestConf >= 50\n  ? `\\n\\n✅ Рекомендация по фьючерсам: ${bestDir}\\nВход: ${bestEntry.toFixed(4)}\\nСтоп: ${bestSl.toFixed(4)}\\nТейк-профиты: ${(bestTp.slice(0, 3).map(t => typeof t === 'number' ? t.toFixed(4) : t)).join(', ')}`\n  : '\\n\\n⚠️ Сигнал слабый — дождитесь лучшей точки входа.';\n\nconst message = header + body + rec;\n\nreturn [{ json: { message, chatId, symbol, telegramBotToken: config.telegramBotToken } }];"
      },
      "id": "format-signal",
      "name": "Сводка и рекомендация",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 320]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $json.telegramBotToken }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"text\": {{ JSON.stringify($json.message) }},\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 320]
    },
    {
      "parameters": {
        "content": "Напишите боту в Telegram:\n• **ETH** или **BTC** — анализ по этому символу\n• **/analyze SOL** — анализ SOL\n\nБэкенд должен быть запущен (npm run dev в backend/).",
        "height": 160,
        "width": 320,
        "color": 6
      },
      "id": "sticky-help",
      "name": "Как пользоваться",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-640, 520]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Есть текст?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение в Telegram": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть текст?": {
      "main": [
        [
          {
            "node": "Извлечь символ",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Извлечь символ": {
      "main": [
        [
          {
            "node": "Анализ 1m",
            "type": "main",
            "index": 0
          },
          {
            "node": "Анализ 5m",
            "type": "main",
            "index": 0
          },
          {
            "node": "Анализ 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ 1m": {
      "main": [
        [
          {
            "node": "Объединить 1m/5m/1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ 5m": {
      "main": [
        [
          {
            "node": "Объединить 1m/5m/1h",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Анализ 1h": {
      "main": [
        [
          {
            "node": "Объединить 1m/5m/1h",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Объединить 1m/5m/1h": {
      "main": [
        [
          {
            "node": "Сводка и рекомендация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сводка и рекомендация": {
      "main": [
        [
          {
            "node": "Отправить в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
