scenarN8N/site-analysis-open-wait.json
{
  "name": "BotNot: Сайт — анализ по скринеру, 1m/5m/1h, OPEN/WAIT + LONG/SHORT",
  "nodes": [
    {
      "parameters": {
        "content": "## Конфигурация (вшита)\n\n• **Backend**: http://localhost:3000\n• **NewsApi**, **Telegram** — в узле Config\n• Binance, Anthropic — в .env бэкенда.\n\nСайт вызывает Webhook POST с телом:\n{ \"symbol\": \"ETH\", \"riskPct\": 0.02, \"minConfidence\": 0.65 }\n\nОтвет: recommendation (OPEN/WAIT), direction (LONG/SHORT), suggestionForUser (open/wait).",
        "height": 280,
        "width": 400,
        "color": 5
      },
      "id": "sticky-config",
      "name": "Инструкция",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-820, -160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "backend_url",
              "name": "backendUrl",
              "value": "http://localhost:3000",
              "type": "string"
            },
            {
              "id": "tg_token",
              "name": "telegramBotToken",
              "value": "8558861792:AAECPXLWeRUlgeQcQzo3fLrvkzAbdNyF0dg",
              "type": "string"
            },
            {
              "id": "news_key",
              "name": "newsApiKey",
              "value": "adba7eb9ba2a48ec96afcc63282d2dc0",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "config-node",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-600, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analysis",
        "responseMode": "responseNode",
        "responseNode": "Ответ сайту",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (сайт)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-820, 280],
      "webhookId": "botnot-analysis"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst raw = (body.symbol || '').toString().trim().toUpperCase().replace(/-?USDT$/i, '');\nconst symbol = raw ? raw + '-USDT' : null;\nconst riskPct = Number(body.riskPct) || 0.02;\nconst minConfidence = Number(body.minConfidence) || 0.65;\nconst config = $('Config').first().json;\nreturn [{ json: { symbol, riskPct, minConfidence, chatId: body.chatId, backendUrl: config.backendUrl, newsApiKey: config.newsApiKey, telegramBotToken: config.telegramBotToken } }];"
      },
      "id": "parse-input",
      "name": "Разбор запроса",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-symbol",
              "leftValue": "={{ $json.symbol }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-symbol",
      "name": "Символ задан?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-180, 280]
    },
    {
      "parameters": {
        "url": "={{ $('Разбор запроса').first().json.backendUrl }}/api/scanner/top?limit=3&minVolume24h=300000&minVolatility24h=3.5",
        "options": {
          "timeout": 25000
        }
      },
      "id": "scanner-top",
      "name": "Скринер топ монет",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 420]
    },
    {
      "parameters": {
        "jsCode": "const scan = $input.first().json;\nconst coins = scan.coins || [];\nconst first = coins[0];\nconst base = first?.symbol ? String(first.symbol).split('/')[0] : 'ETH';\nconst symbol = base + '-USDT';\nconst input = $('Разбор запроса').first().json;\nreturn [{ json: { symbol, riskPct: input.riskPct, minConfidence: input.minConfidence, chatId: input.chatId, backendUrl: input.backendUrl, newsApiKey: input.newsApiKey, telegramBotToken: input.telegramBotToken } }];"
      },
      "id": "symbol-from-scanner",
      "name": "Символ из скринера",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 420]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-symbol",
      "name": "Один символ для анализа",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [260, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}/api/market/analyze/{{ $json.symbol }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeframe\": \"1m\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-1m",
      "name": "Анализ 1m (свечи+объём)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}/api/market/analyze/{{ $json.symbol }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeframe\": \"5m\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-5m",
      "name": "Анализ 5m (свечи+объём)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}/api/market/analyze/{{ $json.symbol }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeframe\": \"1h\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-1h",
      "name": "Анализ 1h (свечи+объём)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 440]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-analyses",
      "name": "Объединить 1m/5m/1h",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-analyses-news",
      "name": "Объединить анализы и новости",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [920, 300]
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q={{ encodeURIComponent($('Один символ для анализа').first().json.symbol.replace('-USDT','')) }}+crypto&language=en&pageSize=3&apiKey={{ $('Один символ для анализа').first().json.newsApiKey }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "news-api",
      "name": "NewsApi (контекст)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 480]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst analysesItems = items.filter(i => i.json.signal != null || i.json.entry_price != null);\nconst newsItem = items.find(i => i.json.articles != null);\nconst symbol = $('Один символ для анализа').first().json.symbol;\nconst minConfidence = $('Один символ для анализа').first().json.minConfidence ?? 0.65;\nconst riskPct = $('Один символ для анализа').first().json.riskPct ?? 0.02;\n\nconst tfOrder = ['1m', '5m', '1h'];\nconst byTf = {};\nfor (const item of analysesItems) {\n  const data = item.json;\n  const sig = data.signal || data;\n  const tf = (sig.timeframe || '').toLowerCase() || '?';\n  byTf[tf] = sig;\n}\n\nconst analyses = [];\nlet longVotes = 0;\nlet shortVotes = 0;\nlet totalConf = 0;\nlet bestEntry = 0, bestSl = 0, bestTp = [];\nlet bestDir = null;\nlet bestConf = 0;\n\nfor (const tf of tfOrder) {\n  const sig = byTf[tf] || {};\n  const dir = sig.direction || '—';\n  const conf = sig.confidence ?? 0;\n  const rr = sig.risk_reward ?? 0;\n  const entry = sig.entry_price ?? sig.entryPrice ?? 0;\n  const sl = sig.stop_loss ?? sig.stopLoss ?? 0;\n  const tp = sig.take_profit ?? sig.takeProfit ?? [];\n  if (dir === 'LONG') longVotes++;\n  if (dir === 'SHORT') shortVotes++;\n  totalConf += conf;\n  analyses.push({ timeframe: tf, direction: dir, confidence: conf, riskReward: rr, entry, stopLoss: sl, takeProfit: Array.isArray(tp) ? tp : [tp] });\n  if (conf > bestConf) {\n    bestConf = conf;\n    bestDir = dir;\n    bestEntry = entry;\n    bestSl = sl;\n    bestTp = Array.isArray(tp) ? tp : [tp];\n  }\n}\n\nconst avgConf = analyses.length ? totalConf / analyses.length : 0;\nconst agreeLong = longVotes >= 2 && shortVotes < 2;\nconst agreeShort = shortVotes >= 2 && longVotes < 2;\nconst recommendation = (avgConf >= minConfidence && (agreeLong || agreeShort)) ? 'OPEN' : 'WAIT';\nconst direction = recommendation === 'OPEN' ? (agreeLong ? 'LONG' : 'SHORT') : null;\n\nconst suggestionForUser = (recommendation === 'OPEN' && avgConf >= minConfidence)\n  ? 'open'\n  : 'wait';\n\nconst summary = `Анализ ${symbol}: 1m/5m/1h. Уверенность: ${(avgConf * 100).toFixed(0)}%. Голоса: LONG ${longVotes}, SHORT ${shortVotes}. Рекомендация: ${recommendation}${direction ? ' ' + direction : ''}. Для риска ${(riskPct * 100).toFixed(1)}% — ${suggestionForUser === 'open' ? 'открывать сделку' : 'подождать лучших условий'}.`;\n\nlet newsSnippet = '';\nif (newsItem && newsItem.json.articles) {\n  const articles = newsItem.json.articles || [];\n  if (articles.length) newsSnippet = articles.slice(0, 2).map(a => a.title || '').join(' | ');\n}\n\nreturn [{\n  json: {\n    recommendation,\n    direction,\n    suggestionForUser,\n    summary,\n    symbol,\n    analyses,\n    avgConfidence: avgConf,\n    minConfidence,\n    riskPct,\n    entry: bestEntry,\n    stopLoss: bestSl,\n    takeProfit: bestTp,\n    newsSnippet\n  }\n}];"
      },
      "id": "decide-open-wait",
      "name": "Группировка и решение OPEN/WAIT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Ответ сайту",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Разбор запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (сайт)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбор запроса": {
      "main": [
        [
          {
            "node": "Символ задан?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Символ задан?": {
      "main": [
        [
          {
            "node": "Один символ для анализа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Скринер топ монет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скринер топ монет": {
      "main": [
        [
          {
            "node": "Символ из скринера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Символ из скринера": {
      "main": [
        [
          {
            "node": "Один символ для анализа",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Один символ для анализа": {
      "main": [
        [
          {
            "node": "Анализ 1m (свечи+объём)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Анализ 5m (свечи+объём)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Анализ 1h (свечи+объём)",
            "type": "main",
            "index": 0
          },
          {
            "node": "NewsApi (контекст)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ 1m (свечи+объём)": {
      "main": [
        [
          {
            "node": "Объединить 1m/5m/1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ 5m (свечи+объём)": {
      "main": [
        [
          {
            "node": "Объединить 1m/5m/1h",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Анализ 1h (свечи+объём)": {
      "main": [
        [
          {
            "node": "Объединить 1m/5m/1h",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Объединить 1m/5m/1h": {
      "main": [
        [
          {
            "node": "Объединить анализы и новости",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsApi (контекст)": {
      "main": [
        [
          {
            "node": "Объединить анализы и новости",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Объединить анализы и новости": {
      "main": [
        [
          {
            "node": "Группировка и решение OPEN/WAIT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Группировка и решение OPEN/WAIT": {
      "main": [
        [
          {
            "node": "Ответ сайту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}