scenarN8N/workflow-01-signals-to-telegram.json
{
  "name": "CLABX — Сигналы в Telegram",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Каждые 10 минут",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "GET Сигналы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLABX_BASE_URL || 'https://your-domain.com' }}/api/signals?limit=10",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Форматировать сообщение",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0]?.json?.body ?? items[0]?.json;\nconst signals = Array.isArray(data) ? data : [];\nconst now = Date.now();\nconst last15min = signals.filter(s => {\n  const ts = new Date(s.timestamp || 0).getTime();\n  return (now - ts) < 15 * 60 * 1000;\n});\nif (last15min.length === 0) {\n  return [{ json: { skip: true, message: 'Нет новых сигналов за 15 мин' } }];\n}\nconst lines = last15min.map(s => {\n  const dir = s.direction === 'LONG' ? '🟢 LONG' : '🔴 SHORT';\n  const conf = ((s.confidence ?? 0) * 100).toFixed(0);\n  return `${s.symbol} ${dir} ${conf}%`;\n});\nconst message = '<b>Новые сигналы CLABX</b>\\n' + lines.join('\\n');\nreturn [{ json: { message, send: true } }];"
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Отправить в Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLABX_BASE_URL || 'https://your-domain.com' }}/api/notify/telegram",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "botToken", "value": "={{ $env.TELEGRAM_BOT_TOKEN }}" },
            { "name": "chatId", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Пропустить если нет новых",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 480],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "cond1", "leftValue": "={{ $json.send }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        }
      }
    }
  ],
  "connections": {
    "Каждые 10 минут": { "main": [[{ "node": "GET Сигналы", "type": "main", "index": 0 }]] },
    "GET Сигналы": { "main": [[{ "node": "Форматировать сообщение", "type": "main", "index": 0 }]] },
    "Форматировать сообщение": { "main": [[{ "node": "Пропустить если нет новых", "type": "main", "index": 0 }]] },
    "Пропустить если нет новых": {
      "main": [
        [{ "node": "Отправить в Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": { "templateCredsInvalidated": false }
}
