scenarN8N/workflow-02-health-monitor.json
{
  "name": "CLABX — Мониторинг здоровья API",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Каждые 5 минут",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "GET Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLABX_BASE_URL || 'https://your-domain.com' }}/api/health",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Проверить статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body?.status ?? $json.status }}",
              "rightValue": "ok",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body?.databaseOk ?? $json.databaseOk }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Уведомить об ошибке",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLABX_BASE_URL || 'https://your-domain.com' }}/api/notify/telegram",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "botToken", "value": "={{ $env.TELEGRAM_BOT_TOKEN }}" },
            { "name": "chatId", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "message", "value": "=⚠️ <b>CLABX Health</b>\\nСтатус: {{ $json.body?.status ?? $json.status }}\\nБД: {{ $json.body?.databaseOk ?? $json.databaseOk }}" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Каждые 5 минут": { "main": [[{ "node": "GET Health", "type": "main", "index": 0 }]] },
    "GET Health": { "main": [[{ "node": "Проверить статус", "type": "main", "index": 0 }]] },
    "Проверить статус": { "main": [[{ "node": "Уведомить об ошибке", "type": "main", "index": 0 }], []] }
  },
  "active": false,
  "settings": {},
  "meta": { "templateCredsInvalidated": false }
}
