scenarN8N/workflow-03-notify-telegram.json
{
  "name": "CLABX — Отправка в Telegram через API",
  "nodes": [
    {
      "id": "c3d4e5f6-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "clabx-notify",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "clabx-notify-webhook"
    },
    {
      "id": "c3d4e5f6-0002-4000-8000-000000000002",
      "name": "POST Telegram через CLABX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLABX_BASE_URL || 'https://your-domain.com' }}/api/notify/telegram",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"botToken\": \"{{ $json.body?.botToken || $env.TELEGRAM_BOT_TOKEN }}\",\n  \"chatId\": \"{{ $json.body?.chatId || $env.TELEGRAM_CHAT_ID }}\",\n  \"message\": \"{{ $json.body?.message || $json.body?.text || 'Сообщение из n8n' }}\"\n}"
      }
    },
    {
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Ответ Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, sent: $json.body?.ok ?? $json.ok } }}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "POST Telegram через CLABX", "type": "main", "index": 0 }]] },
    "POST Telegram через CLABX": { "main": [[{ "node": "Ответ Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "meta": { "templateCredsInvalidated": false }
}
