scenarN8N/workflow-05-webhook-signal-receiver.json
{
  "name": "CLABX — Webhook приём сигнала и уведомление",
  "nodes": [
    {
      "id": "e5f6a7b8-0001-4000-8000-000000000001",
      "name": "Webhook сигнал",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "clabx-signal",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "clabx-signal-webhook"
    },
    {
      "id": "e5f6a7b8-0002-4000-8000-000000000002",
      "name": "Форматировать сигнал",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst s = body.signal ?? body;\nconst symbol = s.symbol ?? 'N/A';\nconst dir = (s.direction || s.side || '').toUpperCase();\nconst emoji = dir === 'LONG' ? '🟢' : '🔴';\nconst conf = ((s.confidence ?? 0) * 100).toFixed(0);\nconst msg = `<b>Сигнал (webhook)</b>\\n${symbol} ${emoji} ${dir} ${conf}%`;\nreturn [{ json: { message: msg } }];"
      }
    },
    {
      "id": "e5f6a7b8-0003-4000-8000-000000000003",
      "name": "В Telegram через CLABX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLABX_BASE_URL || 'https://your-domain.com' }}/api/notify/telegram",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "botToken", "value": "={{ $env.TELEGRAM_BOT_TOKEN }}" },
            { "name": "chatId", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "message", "value": "={{ $json.message }}" }
          ]
        }
      }
    },
    {
      "id": "e5f6a7b8-0004-4000-8000-000000000004",
      "name": "Ответ 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, received: true } }}"
      }
    }
  ],
  "connections": {
    "Webhook сигнал": { "main": [[{ "node": "Форматировать сигнал", "type": "main", "index": 0 }]] },
    "Форматировать сигнал": { "main": [[{ "node": "В Telegram через CLABX", "type": "main", "index": 0 }]] },
    "В Telegram через CLABX": { "main": [[{ "node": "Ответ 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "meta": { "templateCredsInvalidated": false }
}
